html, body {
  height: 100%;
}

input {
  border: 0;
  font-size: 1em;
}

input:focus {
  outline: none;
}

.roomLine {
  display: inline-block;
}

.sender {
  margin: 0;
  color: grey;
}

.message {
  background: #3399ff;
  display: inline-block;
  padding: 0.6em;
  border-radius: 0.4em;
  color: white;
  margin: 0 0 2em 0;
}

i {
  display: inline-block;
  float: right;
  font-size: 2em;
  margin: 0.9em;
}

.create-a-room {
  padding: 0.3em;
  margin: 1em;
  display: inline-block;
}

.your-rooms {
  margin: 0;
  padding: 1em;
}

.room-name:hover {
  color: white;
  cursor: pointer;
}

.active {
  color: white;
  font-weight: bold;
}

.all-rooms {
  color: #edebeb;
}

.row {
  display: flex;
  flex-direction: row;
}

.room-list {
  background: #3399ff;
  color: white;
  float: left;
  position: relative;
  width: 25%;
  height: 80vh;
  overflow-wrap: break-word;
}

.message-panel {
  background: white;
  float: left;
  position: relative;
  width: 75%;
  padding: 2em;
  overflow-y: scroll;
  height: 35em;
}

.form {
  background: white;
  float: left;
  position: relative;
  width: 24%;
  height: 30vh;
}

.send {
  background: lightgrey;
  float: left;
  position: relative;
  width: 76%;
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

textarea {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: #e8e9eb;
  font-size: 1.3em;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
